.App {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.data {
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  background-color: blue;
  padding: 10px;

}

.data label {
  display: inline-block;
  width: 120px;
  margin: 10px;

}